<html>

<head>
    <title>Print it!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <link rel="stylesheet" href="/pdf.css" media="all">
    <style>
        .watermark {
            color: red;
            font-size: 180px;
            z-index: 1;
            position: absolute;
            bottom: 50vh;
            transform: rotate(300deg);
            -webkit-transform: rotate(300deg);
        }

        section {
            z-index: 10;
            position: relative;
        }

        @page {
            size: A4;
            margin: 0;
        }

        @media print {
            .sheet-outer.A4,
            .sheet-outer.A5.landscape {
                width: 210mm;
            }
        }

        .sheet-outer {
            margin: 0;
        }

        .sheet {
            margin: 0;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            page-break-after: always;
        }

        @media screen {
            body {
                background: #e0e0e0
            }

            .sheet {
                background: white;
                box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
                margin: 5mm auto;
            }

            .sheet-outer.A4 .sheet {
                width: 210mm;
                height: 296mm
            }

            .sheet.padding-5mm {
                padding: 15mm
            }
        }
    </style>
</head>

<body>
    <div class="sheet-outer A4">
        <section class='sheet padding-5mm'>
            <div class="watermark">ТEСTOВА</div>
            <header class="clearfix">
                <div style="align-content: center;
    text-align: center;">
                    <h1>Фактура
                    </h1>
                    <h4 style="font-style:italic;">Оригинал</h4>
                </div>
                <div style="display: flex;
    justify-content: flex-end;">
                    <div style="display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    width: 33%;
    font-size: 0.9rem;
    margin: 10px;
    gap: 5px;">
                        <div>Номер:</div>
                        <div style="font-weight:bold;">{{zeroFill client_info.num}}</div>
                        <div>Дата:</div>
                        <div style="font-weight: bold;">{{dateNew client_info.date_issued}}</div>
                    </div>
                </div>
            </header>

            <section>
                <div style="display:grid; grid-template-columns:1.3fr 1fr;column-gap:8px; margin-bottom: 15px;">
                    <div class="info" style="grid-template-columns: 1fr 5.5fr;">
                        <div>Получател</div>
                        <div> {{client_info.name}}</div>
                        <div>ДДС № </div>
                        <div>{{client_info.dds_num}}</div>
                        <div>Идент. № </div>
                        <div>{{client_info.bulstat}}</div>
                        <div>Град </div>
                        <div>{{splitAddress client_info.address 0}}</div>
                        <div>Адрес </div>
                        <div>{{splitAddress client_info.address 1}}</div>
                        <div>МОЛ </div>
                        <div>{{client_info.mol}}</div>
                        <div>Телефон </div>
                        <div>{{client_info.phone}}</div>
                    </div>

                    <div class="info">
                        <div>Доставчик</div>
                        <div>Експрес Секюрити СОД-ЕООД</div>
                        <div>ДДС № </div>
                        <div>BG114540185</div>
                        <div>Идент. № </div>
                        <div>114540185</div>
                        <div>Град </div>
                        <div>Плевен</div>
                        <div>Адрес </div>
                        <div>ул. "Вардар" 15</div>
                        <div>МОЛ</div>
                        <div>Десислава Иванова</div>
                        <div>Телефон</div>
                        <div>805 678</div>
                    </div>


                </div>
                <div class="table-wrapper">
                    <table>
                        <tbody class="head">
                            <tr>
                                <th>№</th>
                                <th>Код</th>
                                <th>
                                    <div>Наименование на стокатa/услугатa</div>
                                </th>
                                <th>
                                    <div>Мярка</div>
                                </th>
                                <th>
                                    <div>Количество</div>
                                </th>
                                <th>
                                    <div>Цена</div>
                                </th>
                                <th>
                                    <div>Сума</div>
                                </th>
                            </tr>

                        </tbody>
                        <tbody class="body">
                            {{#each objects}}
                            <tr>
                                <td class="id">{{increment @index}}</td>
                                <td></td>
                                <td>Такса охрана СОД м.{{get_month this.now_month}}, {{this.address}}</td>
                                <td></td>
                                <td class="num">{{this.factura_period}}</td>
                                <td class="num">{{priceFormat this.tax}}</td>
                                <td class="num to_sum">{{multiply this.tax this.factura_period}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div style="display: flex;
    justify-content: flex-end;">
                    <div style="display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    font-size: 0.9rem;
    margin: 10px;
    gap: 5px;">
                        <div>Данъчна основа:</div>
                        <div id="sum_to_pay"></div>
                        <div>ДДС 20%:</div>
                        <div id="dds"></div>
                        <div style="font-weight:bold;">Сума за плащане:</div>
                        <div id="sum_dds" style="font-weight:bold;"></div>
                    </div>
                </div>
                <div style="display: grid;
    grid-template-columns: 1.3fr 1fr;padding-top:10px">
                    <div class="details">
                        <div>Дата на данъчно събитие:</div>
                        <div>{{dateNew client_info.date_issued}}</div>
                        <div>Основание на сделката:</div>
                        <div></div>
                        <div>Описание на сделката:</div>
                        <div></div>
                        <div>Място на сделката:</div>
                        <div>Плевен</div>
                    </div>
                    <div class="details" style="grid-template-columns: 1fr 2fr;">
                        <div>Плащане:</div>
                        <div>{{paymentType client_info.payment_type}}</div>
                        <div>IBAN:</div>
                        <div>BG67UBBS88881000800959</div>
                        <div>Банка:</div>
                        <div>ОББ АД</div>
                        <div>Банков код:</div>
                        <div>UBBSBGSF</div>
                    </div>
                    <div class="details" style="font-style:italic;
    grid-template-columns: 1fr 6fr;
">
                        <div>Получил:</div>
                        <div>{{client_info.mol}}</div>
                    </div>
                    <div class="details" style="font-style:italic;
    grid-template-columns: 1fr 6fr;
">
                        <div>Съставил:</div>
                        <div>Петър Дражев</div>
                    </div>



                </div>

            </section>
        </section>
    </div>
    <script>
        let total = 0;
        document.querySelectorAll(".to_sum").forEach(el => {
            total += parseFloat(el.innerText);
        });
        document.getElementById('sum_to_pay').innerText = total.toFixed(2);
        document.getElementById('dds').innerText = (total * 0.2).toFixed(2);
        document.getElementById('sum_dds').innerText = (total * 1.2).toFixed(2);
    </script>
</body>

</html>